.container {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.imageInput {
    width: 300px;
    height: 300px;
}

.placeholderWrapper {
    padding: 10px;
    border: 5px dashed gray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageInputFile {
    display: none;
}

.imageWrapper {
    width: 100%;
    height: 100%;
}

.imageInputImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.imageInputIcon {
    margin-top: 10px;
}

.inputPlaceholder {
    text-align: center;
}

.loader {
    text-align: center;
}

.actions {
    margin-top: 10px;
}

.predictionContent {
    padding: 10px;
    text-align: center;
}

.stats {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.statsClose {
    cursor: pointer;
}

.statsIcon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}